<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1>Bienvenue sur notre application !</h1>
  <p>Bienvenue <%= @user.first_name %> <%= @user.last_name %> !</p>
  <p>Votre compte a été créé avec succès. Nous sommes ravis de vous accueillir parmi nous.</p>
</body>
</html>
